@import '../consts.scss';

.product-cart{
  margin-left:40px;
  margin-right:40px;
  display: grid;
  grid-template-columns: 200px 400px 174px 65px;
  grid-template-rows: 75px 100px auto auto;
  grid-template-areas: 
  "image title . trash" 
  "image description changes cost" 
  "image select . ."
  "hr hr hr hr";
  height: 250px;

  hr{
    grid-area: hr;
    margin-left: 40px;
    color: $grayColor;
    width:90%;
    opacity: 0.2;
    height: 1px;
  }

  button{
    border: 1px solid $grayColor;
    background: white;
    color: $grayDarkerColor;
    width:25px;
    height:25px;
  }

  button:hover{
    opacity: 0.8;
  }
}

.product-cart-image{
  grid-area: image;
  height: 200px;
  width: 200px;

  img{
    margin:25px 25px 25px 25px;
    border:1px solid $grayColor;
    border-radius: 4px;
  }

  img:hover{
    opacity: 0.8;
  }
}

.product-cart-middle-title{
  grid-area: title;
  padding-top:25px;
  height:50px;
  font-weight: 600;
}

.product-cart-middle-description{
  grid-area: description;
  padding-right: 10px;
  color: $grayDarkerColor;
  font-size: 13px;
  height:80px;
}

.product-cart-middle-select{
  margin-top: 20px;
  grid-area: select;
  font-size: 15px;
  color: $grayDarkerColor;
  width: 200px;
  height:30px;
}

.product-cart-changes{
  grid-area: changes;
  color: $grayDarkerColor;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -25px 0px 1px -24px $grayColor;
}

.product-cart-changes-quantity{
  text-align: center;
  display: inline-block; 
  width: 45px;
}

.product-cart-last-trash{
  grid-area: trash;
  float: right;
  text-align: right;
  color: gray;
  font-size: 20px;
}

.product-cart-last-trash:hover{
  opacity: 0.8;
}

.product-cart-last-cost{
  text-align: right;
  grid-area: cost;
}