.container-main-content {
  background: white;
  padding-top:20px;
  margin-left: 80px;
  -webkit-box-shadow: -9px -1px 46px -9px rgba(0,0,0,0.43);
  -moz-box-shadow: -9px -1px 46px -9px rgba(0,0,0,0.43);
  box-shadow: -9px -1px 46px -9px rgba(0,0,0,0.43);
}

.container-main-content-totalprice{
  text-align: right;
  padding-right: 50px;
  padding-top: 20px;
  height: 80px;
  font-size: 30px;
}